@mixin myBtn($px: 12px, $py: 40px) {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: $px $py;
    background-color: #1E3070;
    color: white;
    border-radius: 8px;
    border:1px solid transparent ;
    outline: 1px solid transparent;
    position: relative;
    overflow: hidden;
    box-shadow: inset 0 0 5px #0a30bd;
    cursor: pointer;
    &:hover{
        background-color: white;
        color: #1E3070;
        border: 1px solid #1e307091;
        outline: 1px solid #0a31bdd2;
        transition: .2s all linear;

    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient( 45deg ,#1e30700a, #7d99ff3b, #1e307002);
        background-position: center center;
        background-size: 100% 100%;
        opacity: 0;
        transition-delay: .2s;
        transition: .2s all linear;
    }
    &:hover::after{
        width: 100%;
        opacity: 1;
    }
}
.myBtn span {
    position: relative;
    z-index: 2; 
}


.traet_heading{
    .treat_heading_wrapper {
        width: 100%;
        padding: 48px;
        background-color: #6dc31c25;
        border: 1px solid #6dc31ca8;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        .line {
            width: 100%;
            max-width: 320px;
            height: 5px;
            background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
            border-radius: 50%;
        }
        p{
            width: 100%;
        }
    }
}