@import 'variables';
@import 'component/header';
@import 'component/footer';
@import 'component/about';
@import 'component/home/home';
@import 'component/AboutOurPhysicians';
@import 'component/doctorSection';
@import 'component/officeLocations';
@import 'component/PatientEducation';
@import 'component/contact';
@import 'commonComponent';
@import 'typography';
:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: white !important;
}
.hidden{display: none;}
.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}




// ++++++++++++++++++++++++++++ 
// &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
// -----Treatments We Treat cards------
               
#treatments_list_section{
    .treatments_list_wrapper{
       
        width: 100%;
        .treatments_list{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            row-gap: 32px;
            column-gap: 24px;
            align-items: center;
            justify-content: center;

            .treatments_card{
                width: 100%;
                height: fit-content;
                max-width: 425px;
                aspect-ratio: 425/445;
                border: 2px solid #1E3070;
                border-radius: 12px;
                position:relative;
                
                .treatments_card_front{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 2;
                    &:hover{
                        opacity: 0;
                    }
                    .treatments_card_img{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            border-radius: 12px;
                            object-fit: fill;
                            filter: blur(4px);
                            transition: filter .3s ease;
                        }
                    }
                    .treatments_card_title{
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        padding: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        h5{
                            
                            text-align: center;
                            color: #202020;                           
                            font-size: 32px;
                            font-weight: 500;
                            line-height: 46px; 

                        }
                    }                    

                }
                .treatments_card_back{
                   
                    position:absolute ;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    &:hover{
                       opacity: 1;
                       z-index: 3;
                    }


                    .treatments_card_content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap:80px;
                        padding: 25px;
                        .treatments_card_title{
                            h5{
                               font-size: 32px;
                               font-weight: 500;
                               line-height: 46px;
                               letter-spacing: 0%;
                               color: #202020;
                               display: flex;
                               align-items: center;
                               justify-content: center;
                            

                            }

                        }
                        .treatments_card_text{
                            p{ 
                                
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 140%;
                                letter-spacing: 0%;
                                color:#202020 ;

                            }

                        }

                    }

                }

            }
        }

    }

}

// %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
#treatments_page{
    padding-top: 130px;
}
