@import 'variables';
@import 'component/header';
@import 'component/footer';
@import 'component/about';
@import 'component/home/home';
@import 'component/AboutOurPhysicians';
@import 'component/doctorSection';
@import 'component/officeLocations';
@import 'component/PatientEducation';
@import 'component/contact';
@import 'commonComponent';
@import 'typography';
:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: white !important;
}
.hidden{display: none;}
.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}




