@import 'variables';
@import 'component/header';
@import 'component/footer';
@import 'component/about';
@import 'component/home/home';
:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
    color: var(--primary-color);
}
.hidden{display: none;}

.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}




