@import 'variables';
@import 'component/header';
@import 'component/footer';
@import 'component/home/home';
:root {
    --primary-color: #1E3070;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{display: none;}

.myContiner {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;

}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
    text-decoration: none;
}




