#about_practice{
    width: 100%;
    padding-top: 102px;
    
    .about_wrapper_container{
        width: 100%;
        
        .about_banner{
            width: 100%;
            .aboutBannerImage{
                width: 100%;
                aspect-ratio: 1674/759;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 20px;
                }
            }
        }
        .about_content_wraper{
            width: 100%;
            padding: 48px;
            background-color: #f0f9e87c;
            .about_content{}
            .about_content_list{}
        }
    }
}