#About_Our_Physicians {
    width: 100%;

    .About_Our_Physicians_wrapper {
        width: 100%;
    }
}

.Book_Appointment_wrapper {
    width: 100%;
    background-color: #F0F9E880;
    padding: 48px;

    .book_appintment_image {
        width: 100%;

        img {
            width: 100%;
            aspect-ratio: 1674/759;
            object-fit: fill;
        }
    }

    h4 {
        font-size: 44px;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 32px;
    }

    .book_appointment_btn_wrapper {
        text-align: center;

        button {
            border: none;
            outline: none;
            padding: 22px 85px;
            background-color: var(--primary-color);
            color: white;
        }
    }
}