#about_practice {
    width: 100%;
    padding-top: 152px;

    .about_wrapper_container {
        width: 100%;
        padding: 48px;
        background-color: #f0f9e87c;

        .about_banner {
            width: 100%;
            margin-bottom: 32px;

            .aboutBannerImage {
                width: 100%;
                aspect-ratio: 1674/759;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    border-radius: 20px;
                }
            }
        }

        .about_content_wraper {
            width: 100%;

            .about_content {
                h3 {
                    font-size: 44px;
                    margin-bottom: 32px;
                }

                .btn_wrapper {
                    text-align: center;
                    padding: 32px 0;

                    button {
                        border: none;
                        outline: none;
                        padding: 22px 118px;
                        background-color: var(--primary-color);
                        color: white;
                    }
                }
            }

            .about_content_list {
                display: flex;
                flex-direction: column;
                gap: 32px;
                list-style-type: none;
                li {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    h4 {
                        font-size: 32px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}