#contact_page{
    padding-top: 152px;
    .contact_wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .user_short_action{
            width: 100%;
            max-width: 524px;
            height: fit-content;
            padding: 65px 48px;
            border: 1px solid var(--primary-color);
            background-color: #E9EAF1;
            border-radius: 24px;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .actionWrapper{
                display: flex;
                gap: 16px;
                .actionIcon{
                    width: fit-content;
                    height: fit-content;
                    background-color: var(--primary-color);
                    padding: 12px;
                    border-radius: 50%;
                }
                .action_description{}
            }
        }
        .contact_form_wrapper{
            width: 100%;
            max-width: 880px;
            #contact_form{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .inputRow{
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    .input_col{
                        width: 100%;
                        .input_wrapper{
                            padding: 16px;
                            margin-top: 16px;
                            border-radius: 12px;
                            display: flex;
                            align-items: center;
                            border: 1px solid #757997;
                            input{
                                width: 100%;
                                border: 1px solid transparent;
                                outline: 1px solid transparent;
                                &:focus{
                                    border: 1px solid transparent;
                                    outline: 1px solid transparent;
                                }
                            }
                        }
                        textarea{
                            width: 100%;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
}