#doctor_section {
    padding-top: 102px;
    .breadCrumb {}

    .doctor_section_wrapper {
        width: 100%;
        .doctor_name_wrapper {
            width: 100%;
            padding: 48px;
            background-color: #6dc31c25;
            border: 1px solid #6dc31ca8;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            h2 {
                font-size: 56px;
                color: var(--primery-color);
                font-weight: 700;
            }

            .line {
                width: 100%;
                max-width: 320px;
                height: 5px;
                background: radial-gradient(#6DC31C, #6dc31c75, #6dc31c17, #6dc31c00);
                border-radius: 50%;
            }
        }

        .doctor_details_wrapper {
            width: 100%;
            margin: 48px 0 80px 0;
            padding: 48px;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            background-color: #e9eaf150;

            .doctor_details {
                width: 100%;
                max-width: 797px;
                h3{
                    font-size: 32px;
                    line-height: 46px;
                    font-weight: 700px;
                    margin-bottom: 32px;
                }
            }

            .doctor_image {
                width: 100%;
                max-width: 797px;
                aspect-ratio: 797/759;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }
        }
    }
}